.idea
.DS_Store
.vscode
**/__pycache__/
**/.ipynb_checkpoints
**checkpoints.db-shm
**checkpoints.db
**/sdk/tutorial/langgraph/level_200/travel_customer_support/travel2.backup.sqlite
**/sdk/tutorial/langgraph/level_200/travel_customer_support/travel2.sqlite